@tailwind base;
@tailwind components;
@tailwind utilities;


  

input[type='checkbox'] {
    accent-color: hsl(243, 100%, 62%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}